<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= longName %></title>
    // The following is a trick to handle the conflict between node's require() and requirejs. This trick may disable the nw.gui module (this should not be a problem)
    <script type="text/javascript">
        window.requireNode = window.require;
        window.require = undefined; 
    </script>
    <!-- build:css -->
      <link href="bower_modules/components-bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="css/styles.css" rel="stylesheet">
    <!-- endbuild -->
    <!-- build:js -->
      <script src="app/require.config.js"></script>
      <script data-main="app/startup" src="bower_modules/requirejs/require.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <nav-bar params="route: route"></nav-bar>
    <div id="page" class="container" data-bind="component: { name: route().page, params: route }"></div>
  </body>
</html>
